<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    </head>
    
    <body>
        Person: <%= name %> <br/>
        Query Param Foo: <%= qParamFoo %> <br/>   
    </body>
</html>